.question {
    background: #46496d;
    border-radius: 8px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.322);
    padding: 24px 24px 8px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.096);
    border-left: 1px solid rgba(0, 0, 0, 0.096);
    border-right: 1px solid rgba(0, 0, 0, 0.096);

    & + .question{
        margin-top: 8px;
    }

    &.highlighted{
        background: #46496d;
        border: 2px solid #ffc540;

        footer .user-info span{
            color: #ffc540;
        }
    }

    &.answered{
        background: #414358;
        border: 0px solid;
        box-shadow:  0 0px rgba(0, 0, 0, 0);

        footer .user-info span{
            color: #838383;
        }

        p{
            color: #999999;
        }
    }

    p{
        color: #FFF;
    }

    footer{
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        .user-info{
            display: flex;
            align-items: center;

            img{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                border-top: 1px solid rgba(48, 48, 48, 0.26);
                box-shadow:0 3px rgba(48, 48, 48, 0.596);
            }

            span{
                margin-left: 1px;
                color: #e4e4e4;
                font-size: 14px;
            }
        }

        > div {
            display: flex;
            gap : 16px
        }

        button{
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            span{
                color: #FFF;
                margin-right: 2px;
            }

            &.like-button{
                display: flex;
                align-items: flex-end;
                

                svg{
                    margin-left: 8px;
                    stroke: #FFF;
                    color: #FFF;
                }
                
            }

            &.liked{
                color: #ffc540;

                svg path{
                    stroke: #ffc540;
                }
            }

            &:hover{
                filter: brightness(0.5);
            }
        }
    }
}

.buttons{
    justify-content: flex-end;
}
